In [116]:
#importing the necessary packages

import pandas as pd
import numpy as np
import mysql.connector
from sqlalchemy import create_engine
from datetime import datetime
from datetime import date

In [18]:
#importing the data

movies = pd.read_csv('IMDb movies.csv')
names = pd.read_csv('IMDb names.csv')
ratings = pd.read_csv('IMDb ratings.csv')
titles_principals = pd.read_csv('IMDb title_principals.csv')

C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [22]:
movies = movies[['imdb_title_id', 'title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer','actors', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics']]

In [40]:
names = names[['imdb_name_id', 'name', 'height', 'date_of_birth', 'place_of_birth']]

In [41]:
#exporting to mysql workbench
# 1 - making a connection to mysql workbench

host="localhost"
port=3306
dbname="imdb"
user="root"
password="1234"

engine = create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'
            .format(user, password,host, dbname)).connect()

In [28]:
# loading the tables into mysql

movies.to_sql('movies', con = engine,if_exists = 'replace')

In [30]:
titles_principals.to_sql('title_principals', con = engine,if_exists = 'replace')

In [42]:
names.to_sql('names', con = engine,if_exists = 'replace')

In [34]:
ratings.to_sql('ratings', con = engine,if_exists = 'replace')

In [44]:
# retrieving the most granular table out of mysql workbench

# SELECT mv.imdb_title_id, mv.title, mv.year, mv.genre, mv.duration, mv.country, mv.language, mv.director, mv.writer, mv.avg_vote, mv.votes, mv.budget, 
# mv.usa_gross_income, mv.worlwide_gross_income, mv.votes_10, mv.`males 18 to 30 avg vote`, mv.`females 18 to 30 avg vote`,
# mv.us_voters_rating, mv.non_us_voters_rating, ns.imdb_name_id, ns.name AS 'name', ns.category, ns.date_of_birth AS 'Lead actor birth', ns.place_of_birth 'Lead actor nationality', ns.imdb_title_id
# FROM (SELECT mv.imdb_title_id, mv.title, mv.year, mv.genre, mv.duration, mv.country, mv.language, mv.director, mv.writer, mv.avg_vote, mv.votes, mv.budget, 
# mv.usa_gross_income, mv.worlwide_gross_income, rt.votes_10, rt.males_18age_avg_vote AS 'males 18 to 30 avg vote' , rt.females_18age_avg_vote AS 'females 18 to 30 avg vote',
# us_voters_rating, non_us_voters_rating
# FROM movies mv
# JOIN ratings rt
# ON mv.imdb_title_id = rt.imdb_title_id
# WHERE mv.year > 1990) mv
# JOIN (SELECT ns.imdb_name_id, ns.name, ns.date_of_birth, ns.place_of_birth, tp.category, tp.imdb_title_id
# FROM names ns
# JOIN title_principals tp
# ON ns.imdb_name_id = tp.imdb_name_id) ns
# ON mv.imdb_title_id = ns.imdb_title_id;

query = pd.read_sql_query("""SELECT mv.imdb_title_id, mv.title, mv.year, mv.genre, mv.duration, mv.country, mv.language, mv.director, mv.writer, mv.avg_vote, mv.votes, mv.budget, 
mv.usa_gross_income, mv.worlwide_gross_income, mv.votes_10, mv.`males 18 to 30 avg vote`, mv.`females 18 to 30 avg vote`,
mv.us_voters_rating, mv.non_us_voters_rating, ns.imdb_name_id, ns.name AS 'name', ns.category, ns.date_of_birth AS 'Lead actor birth', ns.place_of_birth 'Lead actor nationality', ns.imdb_title_id
FROM (SELECT mv.imdb_title_id, mv.title, mv.year, mv.genre, mv.duration, mv.country, mv.language, mv.director, mv.writer, mv.avg_vote, mv.votes, mv.budget, 
mv.usa_gross_income, mv.worlwide_gross_income, rt.votes_10, rt.males_18age_avg_vote AS 'males 18 to 30 avg vote' , rt.females_18age_avg_vote AS 'females 18 to 30 avg vote',
us_voters_rating, non_us_voters_rating
FROM movies mv
JOIN ratings rt
ON mv.imdb_title_id = rt.imdb_title_id
WHERE mv.year > 1990) mv
JOIN (SELECT ns.imdb_name_id, ns.name, ns.date_of_birth, ns.place_of_birth, tp.category, tp.imdb_title_id
FROM names ns
JOIN title_principals tp
ON ns.imdb_name_id = tp.imdb_name_id) ns
ON mv.imdb_title_id = ns.imdb_title_id;""", engine)

In [45]:
data = query

In [78]:
# now i need to clean the data so i can analyze it on tableua

In [49]:
# im only interested in the first genre

def prime_genre(row):
    if ',' in row:
        new_list = row.split(',')
        return new_list[0]
    else:
        return row

In [75]:
# im only interested in the native language

def prime_language(row):
    if type(row) == str:
        if ',' in row:
            new_list = row.split(',')
            return new_list[0]
        else:
            return row
    else:
        return row

In [50]:
data['prime_genre'] = data['genre'].apply(prime_genre)

In [76]:
data['prime_language'] = data['language'].apply(prime_language)

In [87]:
data['usa_gross_income'][2]

'$ 47121859'

In [90]:
def income(row):
    if type(row) == str:
        new_list = row.split(' ')
        return int(new_list[1])
    else:
        return row

In [91]:
data['usa_gross_income_clean'] = data['usa_gross_income'].apply(income)

In [92]:
data['budget_clean'] = data['budget'].apply(income)

In [94]:
data['worldwide_gross_income_clean'] = data['worlwide_gross_income'].apply(income)

In [106]:
# only interest in the country

def nationality(row):
    if type(row) == str:
        new_list = row.split(', ')
        return new_list[-1]
    else:
        return row

In [107]:
data['subject nationality'] = data['Lead actor nationality'].apply(nationality)

In [143]:
# want to know the age of the subject (actor, actress or director)

def date(row):

    if ((type(row) == str)and ('-' in row)) and (len(row) == 10):
        days = datetime.now() - (datetime.strptime(row, '%Y-%m-%d'))
        substring = str(days/365)
        sublist = substring.split(' ')
        return sublist[0]
    else:
        return row

In [144]:
data['subject birth'] = data['Lead actor birth'].apply(date)

In [146]:
data.dtypes

imdb_title_id                    object
title                            object
year                             object
genre                            object
duration                          int64
country                          object
language                         object
director                         object
writer                           object
avg_vote                        float64
votes                             int64
budget                           object
usa_gross_income                 object
worlwide_gross_income            object
votes_10                          int64
males 18 to 30 avg vote         float64
females 18 to 30 avg vote       float64
us_voters_rating                float64
non_us_voters_rating            float64
imdb_name_id                     object
name                             object
category                         object
Lead actor birth                 object
Lead actor nationality           object
imdb_title_id                    object
prime_genre                      object
prime_language                   object
usa_gross_income_clean          float64
budget_clean                    float64
worldwide_gross_income_clean    float64
subject nationality              object
subject birth                    object
dtype: object

In [147]:
data.columns

Index(['imdb_title_id', 'title', 'year', 'genre', 'duration', 'country',
       'language', 'director', 'writer', 'avg_vote', 'votes', 'budget',
       'usa_gross_income', 'worlwide_gross_income', 'votes_10',
       'males 18 to 30 avg vote', 'females 18 to 30 avg vote',
       'us_voters_rating', 'non_us_voters_rating', 'imdb_name_id', 'name',
       'category', 'Lead actor birth', 'Lead actor nationality',
       'imdb_title_id', 'prime_genre', 'prime_language',
       'usa_gross_income_clean', 'budget_clean',
       'worldwide_gross_income_clean', 'subject nationality', 'subject birth'],
      dtype='object')

In [148]:
new_data = data[['imdb_title_id', 'title', 'year', 'duration', 'country', 
        'director', 'writer', 'avg_vote', 'votes', 'votes_10',
       'males 18 to 30 avg vote', 'females 18 to 30 avg vote',
       'us_voters_rating', 'non_us_voters_rating', 'imdb_name_id', 'name',
       'category',
       'imdb_title_id', 'prime_genre', 'prime_language',
       'usa_gross_income_clean', 'budget_clean',
       'worldwide_gross_income_clean', 'subject nationality', 'subject birth']]

In [152]:
new_data.to_csv('movies_imdb.csv')